<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The subjects that Aalimni teaches in</title>
    <!-- Inclure des styles CSS ou des liens vers des bibliothèques externes ici -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="discover.css">
    <script src="discover.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex align-items-center">
                <h4 class="mr-2">The subjects that Aalimni teaches in:</h4>
                <select id="parentSelect" class="form-control form-control-sm" style="width: 150px;">
                    {% set parents = [] %}
                    {% for record in discover %}
                        {% if record.parent not in parents %}
                            <option value="{{ record.parent }}" {% if record.parent == '1ére' %} selected {% endif %}>{{ record.parent }}</option>
                            {% set _ = parents.append(record.parent) %}
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>

        <div id="subjectsContainer" class="row mt-4" style="display: flex; flex-wrap: wrap;">
            <!-- Les cartes des matières seront ajoutées dynamiquement ici -->
        </div>
    </div>

    <!-- Inclure jQuery pour faciliter les requêtes AJAX -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="discover.js"></script>
</body>
</html>
